<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Brigadistas de la Universidad Nacional de Loja</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <style>
    body {
        background-image: url('https://unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg');
        background-size: cover;
        margin: 0;
        padding: 0;
        color: white;
    }

    .container {
        margin-top: 5%;
    }

    .form-group, .table {
        background-color: rgba(255, 255, 255, 0.7); /* Fondo gris translúcido */
        border-radius: 10px; /* Bordes redondeados */
        padding: 15px; /* Espaciado interno */
        margin-bottom: 20px; /* Margen inferior */
    }

    .form-group label {
        color: black; /* Cambia el color del texto a negro */
    }

    .logout-btn {
        background-color: #d9534f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .logout-btn:hover {
        background-color: #c9302c;
    }

    .welcome-text {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .btn-custom {
        background-color: #007bff;
        color: white;
        margin-bottom: 10px;
        width: 100%;
    }

    .btn-custom:hover {
        background-color: #0056b3;
    }
    .nav-item a.nav-link {
        color: #fff !important; /* Color de texto predeterminado */
        font-size: 24px; /* Aumenta el tamaño de la letra */
        transition: background-color 0.3s ease, color 0.3s ease; /* Efecto de transición para el fondo y el color del texto */
        padding: 10px 15px; /* Ajusta el relleno para que sea más fácil hacer clic */
      }
    
      .nav-item a.nav-link:hover,
      .nav-item a.nav-link:focus {
        background-color: #bd2130; /* Color de fondo al pasar el mouse o enfocar */
        color: #ffffff !important; /* Color de texto al pasar el mouse o enfocar */
      }

    /* Estilos adicionales para pantallas pequeñas */
    @media (max-width: 768px) {
        .col-md-9 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .col-md-3 {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            margin-top: 20px;
        }
    }
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #dc3545;">
        <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">Bienvenido, {{ user.username }}</span>
                    </li>
                    <div class="usermenu">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </button>
                          
                            <div class="dropdown-menu" aria-labelledby="userMenuDropdown">
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Cerrar sesión</button>
                                </form>
                                <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar Informacion de Usuario</a>
                                {% if user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'adminPage' %}">Administración</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'informacion' %}">Panel Informativo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'brigadistaPage' %}">Brigadistas UNL</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'brigadistaPage' %}">Brigadistas UNL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'informacion' %}">Panel Informativo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>
  <div class="container">
    <h1 class="text-center mt-4">Brigadistas de la Universidad Nacional de Loja</h1>
    <div class="form-group">
        <label for="filter-by">Filtrar por:</label>
        <select class="form-control" id="filter-by" name="filter_by">
            <option value="all">Todos</option>
            <option value="faculty">Facultad</option>
        </select>
    </div>
    <div id="faculty-filter" class="form-group">
        <label for="faculty">Seleccionar Facultad:</label>
        <select class="form-control" id="faculty" name="faculty_id">
            {% for faculty in faculties %}
                <option value="{{ faculty.id }}">{{ faculty.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button id="filter-button" class="btn btn-primary mb-4">Filtrar</button>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Facultad</th>
                <th>Cubículo</th>
            </tr>
        </thead>
        <tbody>
            {% for brigadista in brigadistas %}
            <tr>
                <td>{{ brigadista.first_name }}</td>
                <td>{{ brigadista.last_name }}</td>
                <td>{{ brigadista.person.faculty.name }}</td>
                <td>{{ brigadista.person.cubicle }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var filterBy = document.getElementById('filter-by');
        var facultyFilter = document.getElementById('faculty-filter');
        var facultyDropdown = document.getElementById('faculty');
        var filterButton = document.getElementById('filter-button');

        // Verifica la última selección almacenada en sessionStorage
        var lastFilterBy = sessionStorage.getItem('lastFilterBy');
        var lastFacultyId = sessionStorage.getItem('lastFacultyId');

        // Restablece la última selección si existe
        if (lastFilterBy) {
            filterBy.value = lastFilterBy;
            if (lastFilterBy === 'faculty') {
                facultyFilter.style.display = 'block';
            }
        }

        if (lastFacultyId) {
            facultyDropdown.value = lastFacultyId;
        }

        filterBy.addEventListener('change', function() {
            if (this.value === 'faculty') {
                facultyFilter.style.display = 'block';
            } else {
                facultyFilter.style.display = 'none';
            }
        });

        filterButton.addEventListener('click', function() {
            var filterByValue = filterBy.value;
            var facultyId = facultyDropdown.value;

            // Almacena la selección actual en sessionStorage
            sessionStorage.setItem('lastFilterBy', filterByValue);
            sessionStorage.setItem('lastFacultyId', facultyId);

            var url = '/brigadistaPage/?filter_by=' + filterByValue + '&faculty_id=' + facultyId;
            window.location.href = url;
        });
    });
</script>

</body>
</html>
