<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cambiar Contraseña</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
        background-image: url('https://unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg');
        background-size: cover;
        margin: 0;
        padding: 0;
        color: black; /* Cambia el color del texto a negro */
    }

    .container {
        background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */
        padding: 20px;
        border-radius: 10px;
        margin-top: 50px;
    }
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #dc3545;">
    <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Bienvenido, {{ user.username }}</span>
                </li>
                <div class="usermenu">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </button>
                      
                        <div class="dropdown-menu" aria-labelledby="userMenuDropdown">
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Cerrar sesión</button>
                            </form>
                            <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar</a>
                            {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'adminPage' %}">Administración</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'informacion' %}">Panel Informativo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'brigadistaPage' %}">Brigadistas UNL</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'brigadistaPage' %}">Brigadistas UNL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'informacion' %}">Panel Informativo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>

  <div class="container mt-4">    
    <h1 class="text-center"></h1>

    <h1 class="text-center">Cambiar Contraseña</h1>
    
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% else %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    
    <form method="post" action="{% url 'changePassword' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="old_password">Contraseña Actual:</label>
        <input type="password" class="form-control" id="old_password" name="old_password" required>
      </div>
      <div class="form-group">
        <label for="new_password1">Nueva Contraseña:</label>
        <input type="password" class="form-control" id="new_password1" name="new_password1" required>
      </div>
      <div class="form-group">
        <label for="new_password2">Confirmar Nueva Contraseña:</label>
        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Guardar Nueva Contraseña</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
