<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mapa visualizar ruta de evacuación</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/folium/folium.css" />
    <!-- <script src="{% static 'js/notificacion.js' %}"></script> -->
    {% block css %}
    <style>
      body {
        padding-top: 56px; /* Altura de la barra de navegación */
      }
    
      .navbar {
        background-color: #dc3545;
      }
    
      .navbar-brand,
      .navbar-text,
      .nav-link {
        color: #ffffff;
        font-size: 28px; /* Aumenta el tamaño de la letra */
      }
    
      .navbar-toggler-icon {
        background-color: #ffffff;
      }
    
      .navbar-toggler {
        border-color: #ffffff;
      }
    
      .dropdown-toggle,
      .dropdown-item {
        color: #ffffff;
        font-size: 24px; /* Aumenta el tamaño de la letra */
      }
    
      .dropdown-item:hover {
        background-color: #bd2130;
        color: #ffffff;
      }
    
      .nav-item a.nav-link {
        color: #fff !important; /* Color de texto predeterminado */
        font-size: 24px; /* Aumenta el tamaño de la letra */
        transition: background-color 0.3s ease, color 0.3s ease; /* Efecto de transición para el fondo y el color del texto */
        padding: 10px 15px; /* Ajusta el relleno para que sea más fácil hacer clic */
      }
    
      .nav-item a.nav-link:hover,
      .nav-item a.nav-link:focus {
        background-color: #bd2130; /* Color de fondo al pasar el mouse o enfocar */
        color: #ffffff !important; /* Color de texto al pasar el mouse o enfocar */
      }
    
      h1 {
        margin-top: 20px;
      }
    </style> 
    {% endblock %}
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyAeWVYibeymGKuz9muQpBLgBJNX7iIRmlM",
        authDomain: "evacuationrutes.firebaseapp.com",
        projectId: "evacuationrutes",
        storageBucket: "evacuationrutes.appspot.com",
        messagingSenderId: "282539804766",
        appId: "1:282539804766:web:491a01e4069d98439d4ccf",
      };

      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      let messaging = firebase.messaging();
      //serviceworker
      console.log("{% static 'js/serviceworker.js' %}");
      navigator.serviceWorker
        .register("{% static 'js/serviceworker.js' %}")
        .then(function (register) {
          messaging.useServiceWorker(register);

          //solicitar permiso
          messaging
            .requestPermission()
            .then(function () {
              console.log("Notificaciones aceptadas");
              return messaging.getToken();
            })
            .then(function (token) {
              console.log(token);

              //guardar token

              fetch("guardar-token/", {
                method: "post",
                headers: {
                  "Content-Type": "application/json",
                  Accept: "application/json",
                },
                body: JSON.stringify({
                  token: token,
                }),
              })
                .then(function (resultado) {
                  console.log("se ha guardado el token");
                })
                .catch(function (e) {
                  console.log("no se ha podido guardar el token");
                });
            })
            .catch(function (e) {
              console.log("notificaciones no aceptadas");
            });
        });

      //recepción de notificaciones push
      messaging.onMessage(function (payload) {
        console.log("notificación", payload);
        let data = payload;
        let title = payload.notification.title;
        let option = {
          body: payload.notification.body,
          icon: payload.notification.icon,
        };

        let mensaje = new Notification(title, option);
      });
      self.addEventListener("notificationclick", function (event) {
        event.notification.close();
        event.waitUntil(
          clients.openWindow(event.notification.data.click_action)
        );
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <a class="navbar-brand" href="#">MANTENTE SEGURO UNL</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text">Bienvenido, {{ user.username }}</span>
          </li>
          <li class="nav-item">
            <div class="usermenu">
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="userMenuDropdown"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ user.username }}
                </button>
                <div class="dropdown-menu" aria-labelledby="userMenuDropdown">
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Cerrar Sesión</button>
                    <a
                      class="dropdown-item"
                      href="{% url 'modifyInformationUser' %}"
                      >Modificar Informacion de Usuario</a
                    >
                  </form>
                  {% if user.is_superuser %}
                  <a class="dropdown-item" href="{% url 'adminPage' %}"
                    >Administración</a
                  >
                  {% endif %}
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'informacion' %}"
              >Panel Informativo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'brigadistaPage' %}"
              >Brigadistas UNL</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'documents' %}"
              >Plan de Emergencia</a
            >
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'brigadistaPage' %}"
              >Brigadistas UNL</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'informacion' %}"
              >Panel Informativo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'documents' %}"
              >Plan de Emergencia</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div id="warning-message" style="display: none">
        <p>
          Para acceder a una ruta de evacuación, debes estar dentro del campus
          UNL.
        </p>
      </div>
      <div id="noti-data" data-noti="{{ noti }}"></div>
    </nav>

    <h1>Mapa Ruta de evacuación</h1>

    <div
      style="
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background-color: #3498db;
        color: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;
      "
    >
      {% if distancia_usuario_nodo %}
      <p style="margin: 0; font-size: 18px; font-weight: bold">
        Distancia al punto seguro más cercano: {{ distancia_usuario_nodo }}
        metros
      </p>
      {% endif %}
    </div>

    <div id="map" style="position: absolute; top: 100px"></div>

    <form id="locationForm" method="post" style="display: none">
      {% csrf_token %}
      <input type="hidden" name="latitude" id="latitude" value="" />
      <input type="hidden" name="longitude" id="longitude" value="" />
    </form>

    {{ map_html|safe }}

    <script>
      navigator.geolocation.getCurrentPosition(
        function (position) {
          var latitud = position.coords.latitude;
          var longitud = position.coords.longitude;

          // Realiza una solicitud AJAX para enviar las coordenadas al servidor
          var xhr = new XMLHttpRequest();
          xhr.open(
            "GET",
            "/obtener_ubicacion/?latitud=" + latitud + "&longitud=" + longitud,
            true
          );
          xhr.send();
        },
        function (error) {
          console.error("Error al obtener la ubicación:", error);
          alert("Error, activa la ubicación");
        }
      );
    </script>
  </body>
</html>
