<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Información</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


  <style>
    body {
      background-image: url('https://unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg');
      background-size: cover;
      background-position: center;
      font-family: "Arial", sans-serif;
      margin: 0;
      padding: 0;
    }

    .navbar {
      background-color: #dc3545;
    }

    .navbar-brand,
    .navbar-text,
    .nav-link {
      color: #ffffff;
      font-size: 24px;
    }

    .navbar-toggler-icon {
      background-color: #ffffff;
    }

    .navbar-toggler {
      border-color: #ffffff;
    }

    .container-fluid {
      padding: 20px;
      margin-top: 56px; /* Ajuste para la barra de navegación fija */
    }

    @media (min-width: 576px) {
      .container-fluid {
        margin-top: 76px; /* Ajuste para la barra de navegación fija en pantallas pequeñas */
      }
    }

    h1 {
      color: #fff;
      border-bottom: 2px solid #333;
      padding-bottom: 10px;
    }

    .informacion-item {
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      padding: 15px;
    }

    h2 {
      color: #007bff;
    }

    p {
      color: #555;
    }

    .nav-item a.nav-link {
      color: #fff !important; /* Color de texto predeterminado */
      font-size: 24px; /* Aumenta el tamaño de la letra */
      transition: background-color 0.3s ease, color 0.3s ease; /* Efecto de transición para el fondo y el color del texto */
      padding: 10px 15px; /* Ajusta el relleno para que sea más fácil hacer clic */
    }
  
    .nav-item a.nav-link:hover,
    .nav-item a.nav-link:focus {
      background-color: #bd2130; /* Color de fondo al pasar el mouse o enfocar */
      color: #ffffff !important; /* Color de texto al pasar el mouse o enfocar */
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #dc3545;">
    <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Bienvenido, {{ user.username }}</span>
                </li>
                <div class="usermenu">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </button>
                      
                        <div class="dropdown-menu" aria-labelledby="userMenuDropdown">
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Cerrar sesión</button>
                            </form>
                            <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar</a>
                            {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'adminPage' %}">Administración</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'informacion' %}">Panel Informativo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'brigadistaPage' %}">Brigadistas UNL</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'brigadistaPage' %}">Brigadistas UNL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'informacion' %}">Panel Informativo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <div class="container">
    <h1>-</h1>

    <h1>Consejos para mantenerte seguro</h1>

    {% for item in informacion_items %}
    <div class="informacion-item">
      <h2>{{ item.title }}</h2>
      <p>{{ item.description|safe }}</p>
    </div>
    {% endfor %}
  </div>
</body>
</html