<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Map</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            background-color: white;
            margin: 0;
            overflow: hidden;
        }

        #map {
            width: 100%;
            height: 100vh;
        }

        /* Estilos adicionales para la barra de navegación */
        nav {
            background-color: #ff0000;
        }

        .navbar-brand {
            color: white !important;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .nav-link {
            color: white !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.is_authenticated %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            Nombre del Usuario
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                            <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar Informacion de Usuario</a>
                            <a class="dropdown-item" href="{% url 'adminPage' %}">ADMINISTARCION</a>


                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Graph Map</h1>
    <div id="map">{{ map_html|safe }}</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
