<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Brigadista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg');
            background-size: cover;
            margin: 0;
            padding: 0;
            color: white;
        }

        .navbar {
            background-color: #dc3545;
        }

        .navbar-brand,
        .nav-link {
            color: white !important;
        }

        .messages,
        .success-message,
        form,
        input,
        button,
        a.btn-change-password {
            background: rgba(255, 255, 255, 0.7);
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            color: black; /* Color de texto ajustado */
        }

        .btn {
            background-color: #28a745;
            color: white;
        }

        .btn-change-password {
            margin-top: 10px;
            display: block; /* Hacer que el enlace sea un bloque para separarlo del botón */
        }

        h1,
        label,
        .success-message {
            color: black;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.is_authenticated %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            Nombre del Usuario
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                            <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar Informacion de Usuario</a>

                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Editar Información de Usuario</h1>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="success-message">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuario de Inicio de Sesión:</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}"
                    required>
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
            </div>
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" id="name" name="first_name" value="{{ user.first_name }}"
                    required>
            </div>
            <div class="form-group">
                <label for="lastName">Apellido:</label>
                <input type="text" class="form-control" id="lastName" name="last_name" value="{{ user.last_name }}"
                    required>
            </div>
            <div class="form-group">
                <label for="cellphoneNumber">Número de Celular:</label>
                <input type="text" class="form-control" id="cellphoneNumber" name="cellphoneNumber"
                    value="{{ person.cellphoneNumber }}" required>
            </div>
            <div class="form-group">
                <label for="cubicle">Cubículo:</label>
                <input type="text" class="form-control" id="cubicle" name="cubicle" value="{{ person.cubicle }}"
                    required>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>

            <!-- Botón para cambiar contraseña -->
            <a href="{% url 'changePassword' %}" class="btn btn-primary btn-change-password">Cambiar Contraseña</a>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
