<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GESTION DE NODOS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger"> 
    <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.is_authenticated %}
              {{ user.first_name }} {{ user.last_name }}
            {% else %}
              Nombre del Usuario
            {% endif %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="dropdown-item">Cerrar Sesión</button>
              <a class="dropdown-item" href="{% url 'adminPage' %}">Administración</a>
              <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar Información de Usuario</a>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-4">
    <h1>Añadir nuevos puntos</h1>

    {% if error_message %}
    <div class="alert alert-danger" role="alert">
      {{ error_message }}
    </div>
    {% endif %}

    {% if success_message %}
    <div class="alert alert-success" role="alert">
      {{ success_message }}
    </div>
    {% endif %}
  
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="point_id" id="point_id" value="{% if point_to_edit %}{{ point_to_edit.id }}{% endif %}">
      <div class="form-group">
        <label for="name">Nombre del Punto:</label>
        <input type="text" class="form-control" id="name" name="name" value="{% if point_to_edit %}{{ point_to_edit.name }}{% endif %}" required placeholder="INGRESE AQUI EL NOMBRE">
      </div>
      <div class="form-group">
        <label for="longitude">Longitud:</label>
        <input type="text" class="form-control" id="longitude" name="longitude" value="{% if point_to_edit %}{{ point_to_edit.longitude }}{% endif %}" required placeholder="INGRESE AQUI LA LONGITUD DEL PUNTO">
      </div>
      <div class="form-group">
        <label for="latitude">Latitud:</label>
        <input type="text" class="form-control" id="latitude" name="latitude" value="{% if point_to_edit %}{{ point_to_edit.latitude }}{% endif %}" required placeholder="INGRESE AQUI LA LATITUD DEL PUNTO">
      </div>
      <div class="form-group">
        <label for="faculty">Facultad:</label>
        <select class="form-control" id="faculty" name="faculty">
          {% for faculty in faculties %}
            <option value="{{ faculty.id }}" {% if point_to_edit and point_to_edit.faculty.id == faculty.id %}selected{% endif %}>{{ faculty.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="description">Descripción:</label>
        <input type="text" class="form-control" id="description" name="description" value="{% if point_to_edit %}{{ point_to_edit.description }}{% endif %}" required placeholder="INGRESE AQUI UNA DESCIPCIÓN BREVE DEL PUNTO">
      </div>
      <div class="form-group">
        <label for="status">Estado:</label>
        <input type="hidden" id="status" name="status" value="0"> 
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
          Cambiar Estado
        </button>
        <input type="checkbox" id="statusCheckbox" name="status" {% if point_to_edit and point_to_edit.status %}checked{% endif %}>
      </div>
      <br>
      <button type="submit" class="btn btn-success">GUARDAR</button>
    </form>

    <h1 class="mt-4">Puntos Existentes</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre del punto</th>
            <th>Longitud</th>
            <th>Latitud</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for point in points %}
          <tr data-point-id="{{ point.id }}" data-point-name="{{ point.name }}" data-point-longitude="{{ point.longitude }}" data-point-latitude="{{ point.latitude }}" data-point-faculty="{{ point.faculty.id }}" data-point-status="{{ point.status }}" data-point-description="{{ point.description }}">
            <td>{{ point.name }}</td>
            <td>{{ point.longitude }}</td>
            <td>{{ point.latitude }}</td>
            <td>{{ point.description }}</td>
            <td>{{ point.status_label }}</td>
            <td>
              <button type="button" class="btn btn-link btn-activate" data-point-id="{{ point.id }}" data-point-status="{{ point.status }}">
                {% if point.status %}
                  Desactivar
                {% else %}
                  Activar
                {% endif %}
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Confirmar acción</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Este punto quedará deshabilitado, está seguro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" id="confirmBtn">Sí</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
      $('table tbody tr').on('click', function () {
        var id = $(this).data('point-id');
        var name = $(this).data('point-name');
        var longitude = $(this).data('point-longitude');
        var latitude = $(this).data('point-latitude');
        var facultyId = $(this).data('point-faculty');
        var status = $(this).data('point-status');
        var description = $(this).data('point-description');

        $('#point_id').val(id);
        $('#name').val(name);
        $('#longitude').val(longitude);
        $('#latitude').val(latitude);
        $('#faculty').val(facultyId);
        $('#description').val(description);
        $('#statusCheckbox').prop('checked', status);
      });

      $('.btn-activate').on('click', function () {
        var pointId = $(this).data('point-id');
        var currentStatus = $(this).data('point-status');
            
        $.ajax({
          type: 'POST',
          url: '/activatePoint/',
          data: { point_id: pointId, status: currentStatus ? '0' : '1' },
          success: function (data) {
            $(`tr[data-point-id="${pointId}"] td:nth-child(5)`).text(data.new_status);
            $(this).data('point-status', !currentStatus);
            $(this).text(data.new_status === 'Activado' ? 'Desactivar' : 'Activar');
          },
          error: function (error) {
            console.log('Error en la solicitud AJAX:', error);
          }
        });
      });

      $('#statusCheckbox').on('click', function () {
        $('#confirmModal').modal('show');
      });

      $('#confirmBtn').on('click', function () {
        var currentStatus = $('#statusCheckbox').prop('checked');
        $('#statusCheckbox').prop('checked', !currentStatus);
        $('#confirmModal').modal('hide');
      });
    });
  </script>
</body>
</html>