<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Gestión de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            background-image: url('https://unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg');
            background-size: cover;
            margin: 0;
            padding: 0;
            color: white;
        }

        .container {
            background: rgba(255, 255, 255, 0.8); /* Ajusta el nivel de opacidad según tus preferencias */
            border-radius: 10px; /* Ajusta el radio de borde según tus preferencias */
            padding: 20px;
            margin-top: 50px; /* Ajusta el margen superior según tus preferencias */
        }
        
        .table {
            background: rgba(255, 255, 255, 0.8); /* Ajusta el nivel de opacidad según tus preferencias */
            border-radius: 10px; /* Ajusta el radio de borde según tus preferencias */
        }
        h1 {
          color: black; /* Letra del título en negro */
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger"> 
    <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.is_authenticated %}
              {{ user.first_name }} {{ user.last_name }}
            {% else %}
              Nombre del Usuario
            {% endif %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="dropdown-item">Cerrar Sesión</button>
              <a class="dropdown-item" href="{% url 'adminPage' %}">Administración</a>
              <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar Información de Usuario</a>

            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>

<div class="container mt-5">
    <h1 class="text-center">Panel de Gestión de Usuarios</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th> 
                <th>Cedula</th>
                <th>Teléfono</th> 
                <th>Aula Cubículo</th> 
                <th>Estado</th>
                <th>Tipo de Usuario</th> <!-- Nueva columna -->
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            <tr>
                <td>{{ person.user.first_name }}</td>
                <td>{{ person.user.last_name }}</td>
                <td>{{ person.dni }}</td>
                <td>{{ person.cellphoneNumber }}</td>
                <td>{{ person.cubicle }}</td>
                <td>{{ person.user.is_active }}</td>
                <!-- Nueva columna para mostrar el tipo de usuario -->
                <td>
                    {% if person.user.is_superuser and not person.user.is_staff %}
                        Administrador
                    {% elif not person.user.is_superuser and not person.user.is_staff %}
                        Docente
                    {% elif person.user.is_staff and not person.user.is_superuser %}
                        Brigadista
                    {% endif %}
                </td>
                <td>
                    <form id="form{{ person.user.id }}" method="post" action="{% url 'updateStateUser' person.user.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        {% if person.user.is_active %}
                            <button type="button" onclick="confirmAction('{{ person.user.id }}', 'disable')" class="btn btn-danger">Deshabilitar</button>
                        {% else %}
                            <button type="button" onclick="confirmAction('{{ person.user.id }}', 'enable')" class="btn btn-success">Habilitar</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    function confirmAction(userId, newState) {
        var confirmation = confirm("¿Desea continuar?");
        if (confirmation) {
            var formId = "#form" + userId;
            $(formId).submit();
            alert("El estado se actualizó.");
        } else {
            return false;
        }
    }
</script>

</body>
</html>