<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje de Cuenta Deshabilitada</title>

    <style>
        body {
            background-image: url('https://unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg');
            background-size: cover;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: rgba(174, 174, 190, 0.85);
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            max-width: 600px;
            width: 100%;
            box-sizing: border-box;
            margin: 0 auto;
            color: #333; /* Cambia el color del texto según tus preferencias */
        }

        .message {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 15px;
        }

        hr {
            border: 1px solid #666; /* Cambia el color de la línea según tus preferencias */
            margin: 20px 0;
        }

        a {
            text-decoration: none;
            color: #007BFF; /* Cambia el color del enlace según tus preferencias */
        }
    </style>
</head>
<body>

<div class="container">
    <div class="message">
        Muchas gracias por intentar ingresar a nuestro sistema. Lamentamos informarle que su cuenta permanece deshabilitada.
    </div>

    <p>
        Para más información, por favor, contacte por medios oficiales con los administradores. Muchas gracias.
    </p>

    <hr>

    <p>
        En caso de que su registro sea reciente, pronto el administrador habilitará su cuenta. Gracias.
    </p>

    <a href="{% url 'home' %}">Volver a la página de inicio</a>
</div>

</body>
</html>
